<app-movies-slider></app-movies-slider>

<section class="movies">
  <div class="contain mt-3 mb-5 p-4">

    <div class="row">
      <h3 class="text-white">Trending Movies</h3>
      <div class="rowposter mt-3 p-2">
        @for (t of trendingMoviesResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',t.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Discover Movies</h3>
      <div class="rowposter mt-3 p-2">
        @for (d of discoverMoviesResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}" class="rowimg largeposter"
              alt="..." [routerLink]="['/movie',d.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Thriller Movies</h3>
      <div class="rowposter mt-3 p-2">
        @for (th of thrillerMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ th.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',th.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Action</h3>
      <div class="rowposter mt-3 p-2">
        @for (a of actionMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',a.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Adventure</h3>
      <div class="rowposter mt-3 p-2">
        @for (ad of adventureMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ ad.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',ad.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Animation</h3>
      <div class="rowposter mt-3 p-2">
        @for (a of animationMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',a.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Comedies</h3>
      <div class="rowposter mt-3 p-2">
        @for (c of comedyMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',c.id]">
          </ng-container>
        }
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="text-white">Documentaries</h3>
      <div class="rowposter mt-3 p-2">
        @for (d of documentaryMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',d.id]">
          </ng-container>
        }
      </div>
    </div>
>
    <div class="row mt-4">
      <h3 class="text-white">Science-Fiction</h3>
      <div class="rowposter mt-3 p-2">
        @for (sf of sciencefictionMovieResults; track $index) {
          <ng-container>
            <img src="https://image.tmdb.org/t/p/original/{{ sf.poster_path }}"
              class="rowimg largeposter" alt="..." [routerLink]="['/movie',sf.id]">
          </ng-container>
        }
      </div>
    </div>
  </div>
</section>
